@*<div id="loader" class="collapse">
    <div id="spinner">
        <i role="alert" aria-busy="true" aria-label="page loading" class="fa fa-spinner fa-5x fa-spin" title="Loading, please wait..."></i>
    </div>
</div>*@


